#adminmenu .ame-unclickable-menu-item .wp-menu-image.dashicons-before {
    width: 0;
}

#adminmenu .ame-unclickable-menu-item .wp-menu-name {
    padding: 8px;
}

#adminmenu .ame-unclickable-menu-item {
    margin-top: 8px;
    pointer-events: none;
    opacity: 0.6;
}